.update {
    font-family: serif;
        background-color: darkorange;
    border-style: dashed;
    color: black;
    float: left;
}
.he {
    font-family: fantasy;
    background-color: beige;
    text-align: center;
    font-size: 50;
}

.above {
    font-family: serif;
    background-color: darkorange;
    border-style: dashed;
    float: right;
}

.top {
    text-align: center;
    
}

.vi {font-family: cursive;
        border-style: dashed;
     text-align: center;
}

.container {
    background-color: blueviolet
}
